/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 20px 0;
  background-color: #2B59C3;
  width: 100%;
}

.logo img {
  margin-left: 1rem;
  height: 70px;
  cursor: pointer;
  height: 70px;
  margin-left: 2rem; 
}

.nav-links {
  display: flex;
  align-items: center;
  margin-left: auto; 
}

.nav-links a {
  color: #fff; 
  text-decoration: none;
  font-size: 20px;
  font-family: 'Outfit', sans-serif;
  letter-spacing: 0.05rem;
  padding: 10px 15px; 
  margin-right: 10px;
  display: inline-flex; 
  align-items: center;
  justify-content: center; 
}

.nav-links a:hover {
  color: #26ef8e; 
}

.user-link a {
  color: #fff; 
  text-decoration: none;
  font-size: 20px;
  font-family: 'Outfit', sans-serif;
  letter-spacing: 0.05rem;
  padding: 10px 15px; 
  margin-right: 10px;
  display: inline-flex; 
  align-items: center;
  justify-content: center; 
}

.user-link a:hover {
  color: #26ef8e; 
}

.login-btn {
  padding: 14px 35px;
  background-color: #000; 
  color: #fff; 
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Outfit', sans-serif;
  letter-spacing: 0.08rem;
  margin-left: 10px;
  margin-right: 3rem;
  display: inline-flex;
  align-items: center; 
  justify-content: center; 
  width: auto; 
  height: auto; 
  box-sizing: border-box; 
}

.login-btn:hover {
  background-color: #333; 
}

